dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv
*~
.hsenv_*
dist_*
history
TAGS
.diagrams-cache
web/*.html
web/diagrams/*
Poster-big.png

cards/imgs/
cards/png/
/cards/factorization-cards.tgz
cards/factorization/
cards/png-small/
/cards/allCardsGrid.png
/cards/allCards.png
/cards/Cards
/cards/CardsMain